@model WasteManagement.Models.Report

<h1>Create Report</h1>


  <form asp-action="Create" enctype="multipart/form-data">

    <div class="mb-3">
        <label class="form-label">Title</label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Location</label>
        <input asp-for="Location" class="form-control" />
    </div>

   
    <div class="mb-3">
        <label class="form-label">Upload Image</label>
        <input type="file" name="imageFile" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">
        Submit Report
    </button>

</form>